.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

body {
    background: lightsteelblue;
}

.pageContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.led {
    background: rgba(0, 0, 0, 0.8);
    padding: 0.5em;
}

.ledDot {
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
}

.activeLedDot {
    background: red;
}

.inactiveLedDot {
    background: slategrey;
}

.appContainer {
    align-items: center;
}

.matrixSettings {
    color: aliceblue;
    background: dimgray;
    padding: 1em;
    margin: 0 auto;
}

.numberInput {
    color: aliceblue;
    background: none;
    width: 2em;
    border: none;
    text-align: center;
}

.timesBox {
    width: 2em;
    text-align: center;
}

