$smallGap: 0.25em;
$normalGap: 0.5em;
$largeGap: 1em;
$buttonHeight: 2em;

$silver: #cfd7db;
$lightGray: #b5bdc2;
$gray: #a4b0b9;
$darkGray: #8f9ca7;
$mineral: #6f7a85;

$lightGreen: #c7cfd1;
$green: #bac5c7;
$darkGreen: #93a3aa;

$lightBrown: #cccfc8;
$brown: #cacac2;
$darkBrown: #bebfb9;
$harbor: #babbb5;

$blue: #99ccff;
$bad: #f08080;
$okay: #69f093;
